* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    box-sizing: border-box;

}
.hr {
    margin: auto;
    width: 70%;
    height: 5px!important;
    color: black;
}
.header {color: white;
    padding: 50px;
    display: flex;
    background-color: #1d4ae2;
}
.box-header {

} h3 {
    padding-top: 30px;
  }

.box-img {
    padding-left: 40px;
} img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #c6c8ca;
}
  .content {
      padding: 0px 100px 100px 100px;
      background-color:#cccccc33;
  }
.percent-time {
    width: 250px;
    display: flex;

}
 ul li {
    list-style-type: none;
}
.percent-time1 {
     width: 70%;
     background-color: #6f8098;
     padding-left: 15px;
     border-radius: 20px 0px 0px 20px;
 }
.percent-time-2 {
    width: 30%;
    background-color: #a2adb5;
    border-radius: 0px 20px 20px 0px;
}
.box-css .percent-time1 {
    width: 60%;
}
.box-css .percent-time-2 {
    width: 40%;
}
.box-BT .percent-time1 {
    width: 55%;
}
.box-BT .percent-time-2 {
    width: 45%;
}
.box-jquery .percent-time1 {
    width: 40%;
}
.box-jquery .percent-time-2 {
    width: 60%;
}
.box-mysql .percent-time1 {
    width: 50%;
}
.box-mysql .percent-time-2 {
    width: 50%;
}
.box-php .percent-time1 {
    width: 60%;
}
.box-php .percent-time-2 {
    width: 40%;
}
